Adafruit-Blinka
Adafruit-PlatformDetect
Adafruit-PureIO
alembic
blinker
certifi
click
dnspython
dominate
elasticsearch
email-validator
Flask
Flask-Limiter
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
flask-util-js
Flask-WTF
idna<3,>=2.5
itsdangerous
Jinja2
limits
Mako
MarkupSafe
pyftdi
PyJWT>=2.4.0
PyMySQL
pyserial
python-dateutil
python-dotenv
python-editor
pyusb
six
SQLAlchemy
urllib3>=1.26.5
visitor
Werkzeug
WTForms