{% extends "base.html" %}

{% block app_content %}
    <div class='twelve columns'>
        <p>Welcome to my little website. It's running on a Beaglebone Black
            micro-computer. This is mostly a playground to try things 
            out and learn about building web apps with Python/Flask/SQLAlchemy.</p>
        <img src="{{ url_for('static', filename='images/BBB-Rev-C.jpg') }}" class="center"
             width="400px">
        <p>Check out the
            <a href="https://github.com/mrdawson/bbbhome" target="_blank">
                <span style="text-decoration: underline">GitHub repository</span>
            </a>
        </p>
    </div>
{% endblock %}
